/* HEADER */
header {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    top: 0;
    background-color: #15616d;
    box-shadow: 0px 8px 20px -4px #0b373d;
    position: fixed;
}

h1 {
    color: #001524;
    font-weight: bolder;
    padding-left: 20px;
}

/* ----------------------------- */

/* NAVBAR */
.navbar {
    width: 100%;
    background-color: #15616d;
    font-weight: bolder;
    text-decoration: none;
}

.navbar a:hover {
    color: #ff7d00;
    background-color: #0e4952;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

a.contact {
    float: right;
}


li a {
    display: inline-block;
    text-align: center;
    color: #ffecd1;
    padding: 14px 16px;
    text-decoration: none;
}

li.subMenu {
    display: inline-block;
}

.subMenuContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}

.subMenuContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.subMenuContent a:hover {
    background-color: #f1f1f1;
}

.subMenu:hover .subMenuContent {
    display: block;
}


/* ----------------------------- */

/* FOOTER */

footer {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 6%;
    bottom: 0;
    background-color: #15616d;
    color: #ffecd1;
    box-shadow: 0px 8px 20px -4px #0b373d;
    position: fixed;
}



/* ----------------------------- */

/* BODY */
body {
    margin: 0;
    color: #001524;
    background-color: #ffecd1;
}

.pageContent {
    margin-top: 180px;
    margin-bottom: 8%;
}

/* TABLE ANIMAUX */
table {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    padding: 10px;
    border: 2px solid #001524;
}

th {
    background-color: #001524;
    color: #ffecd1;
    font-weight: bold;
}

tr:nth-child(odd)  {
    background-color: #e0d0b9;
}

tr:nth-child(even) {
    background-color: #9e907c;
}

tr:hover {
    background-color: #78290f;
    color: #ffecd1;
}

img {
    width: 200px;
    height: 200px;
}

video {
    width: 40%;
    height: auto;
}

/*-------------------------------*/

/* FORM */

div.form {
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;

}

input[type=text],
input[type=tel],
input[type=email],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #15616d;
    color: white;
    padding: 20px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    width: 100%;
    background-color: #15616d;
    color: white;
    padding: 20px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1c8191;
}

label {
    margin: 8px;
}

/*--------------------------------------------------*/
div.hiddenDiv {
    display: none;
}

div.displayed {
    display: block;
}